# **Strings in Python**

### **String declaration**

In [26]:
# String declaration using Single quotes
string1 = 'Hello'
print(string1)  # Output: Hello

Hello

In [29]:
# String declaration using Double quotes
string2 = "World"
print(string2)  # Output: World

World

In [4]:
# String declaration using Triple quotes (Multi-line)
string3 = """This is a
multi-line
string"""
print(string3)

This is a
multi-line
string

### **Immutability of Strings**

In [5]:
string1 = 'hello'
string1[0] = 'H'  # Raises TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [53]:
# The replace() method returns a new string with the replacement, but it does not modify the original string s.
s = "hello"
s.replace("h", "H")
print(s)

hello

In [54]:
# The replace() method is called on the string s, which replaces all occurrences of the lowercase "h" with an uppercase "H".
# This method returns a new string "Hello". The returned string "Hello" is then reassigned to the variable s.
s = "hello"
s = s.replace("h", "H")
print(s)

Hello

### **String Operations**

### **Concatenation**

In [6]:
# Using +
greeting = "Hello" + " " + "World"
print(greeting)

Hello World

In [7]:
# Using join (more efficient for multiple strings)
words = ["Hello", "World", "from", "Python"]
sentence = " ".join(words)
print(sentence)

Hello World from Python

### **Repetition**

In [8]:
# Repeating a string multiple times using *
repeated_string = "Ha" * 3
print(repeated_string)

HaHaHa

In [9]:
# Multiplying by 0 returns an empty string
empty_string = "Hello" * 0
print(empty_string)  # Output: (empty string)

### **Indexing**

In [13]:
# Positive indexing
string = "Python"
print(string[4])

o

In [12]:
# Negative indexing
print(string[-2])

o

In [14]:
# Default behavior if index is out of bounds
print(string[10])  # IndexError: string index out of range

IndexError: string index out of range

### **Slicing**

**Start Index**: This is where the slicing begins. It specifies the position of the first character you want to include in your slice. If this is left blank, the slice starts from the beginning of the string.\
\
**Stop Index**: This is where the slicing stops, but it doesn't include the character at this index. The slice includes characters up to, but not including, this position. If left blank, it slices until the end of the string.\
\
**Step Size**: This determines how many characters to skip between each one included in the slice. A step size of 1 means no characters are skipped, while a larger step size skips over characters in the sequence.\
A negative step size can be used to slice the string in reverse order.

In [15]:
# Slicing : [start_index: stop_index: step_size]
substring = string[1:4]  # Here, step_size is not mentioned, so the default value of 1 is taken.
print(substring)

yth

In [16]:
# Slicing with step
step_slice = string[0:6:2]  # Here, step_size is 2, so every second character is included in the slice.
print(step_slice)

Pto

In [17]:
# Omitting start or stop
print(string[:2])  # Here, start_index is not mentioned, so the default value of 0 is taken, which means the slic starts from the beginning.
print(string[2:])  # Here, stop_index is not mentioned, so the default value of the length of the string is taken, which means the slice ends at the end of the string.

Py
thon

In [18]:
string = "Python"

# Slicing from end towards the beginning
print(string[-1:])  # from index -1 to the end

n

In [19]:
print(string[-3:])  # from index -3 to the end

hon

In [20]:
print(string[-6:])  # from index -6, which is the start, to the end

Python

In [21]:
print(string[-4:-1])  # from index -4 to -1, not including -1

tho

In [22]:
print(string[-5:-2])  # from index -5 to -2, not including -2

yth

In [23]:
# Slicing with negative indices and a positive step
print(string[-5:-1:1])  # from index -5 to -1, step 1

ytho

In [24]:
# Slicing with negative indices and a negative step
print(string[-1:-6:-1])  # from index -1 to -6(not including -6), step -1

nohty

In [25]:
# Negative step with omitted start and stop
print(string[::-1])  # reverses the string

nohtyP

In [26]:
# Omitting the start index (defaults to start of the string)
print(string[:-3])  # from start to -3, not including -3

Pyt

In [27]:
# Omitting the stop index (defaults to end of the string)
print(string[-3:])  # from -3 to the end

hon

In [28]:
# Using a negative step to reverse a substring
print(string[-2:-5:-1])  # from -2 to -5, step -1, reverse order

oht

In [29]:
# Invalid slicing range (no output)
print(string[-2:-5:1])  # empty string, because positive step can't move from -2 to -5

### **String Methods**

### **Case Conversion**

In [30]:
# Convert to lowercase
lowercase_string = "Python".lower()
print(lowercase_string)

python

In [31]:
# Convert to uppercase
uppercase_string = "Python".upper()
print(uppercase_string)

PYTHON

In [32]:
# Swap case
swapped_case = "PyThOn".swapcase()
print(swapped_case)

pYtHoN

In [33]:
# Capitalize first letter
capitalized = "python".capitalize()
print(capitalized)

Python

### **Searching and Counting**

In [34]:
# Finding substrings
position = "Hello World".find("World")
print(position)  # Output: start index of substring

6

In [35]:
# Counting occurrences
count = "Hello World World".count("World")
print(count)

2

### **String Replacement**

In [38]:
# Replace all occurrences
replaced_string = "Hello World World".replace("World", "Python")
print(replaced_string)

Hello Python Python

In [39]:
# Replace only first occurrence
limited_replace = "Hello World World".replace("World", "Python", 1)
print(limited_replace)

Hello Python World

### **Splitting and Joining**

In [40]:
# The .split() method in Python is used to split a string into a list of substrings based on a specified delimiter (or separator).
# If no delimiter is specified, it defaults to splitting by whitespace. It returns a list of substrings.

words = "Hello World from Python".split()
print(words)

['Hello', 'World', 'from', 'Python']

In [42]:
numbers = "1,2,3".split(',')
print(numbers)

['1', '2', '3']

### **Checking String Content**

In [43]:
# Starts with
is_start = "Hello World".startswith("Hello")
print(is_start)

True

In [44]:
# Is alphanumeric
is_alnum = "Python3".isalnum()
print(is_alnum)

True

### **String Formatting**

In [1]:
# The % operator is used with a string containing format specifiers (placeholders) and a tuple or a single value to be inserted into those placeholders.

name = "Alice"
age = 30
message = "My name is %s and I am %d years old." % (name, age)
print(message)  # Output: My name is Alice and I am 30 years old.

My name is Alice and I am 30 years old.

In [46]:
# The format() method replaces placeholders within a string with values from variables or expressions. Placeholders are defined using curly braces {}.

formatted = "Hello, {}!".format("World")
print(formatted)

Hello, World!

In [47]:
# f-strings allow you to embed expressions inside string literals using curly braces {},
# making it easy to include variables and expressions directly in your strings.

name = "World"
formatted = f"Hello, {name}!"
print(formatted)

Hello, World!

### **Escape Characters and Raw Strings**

Certain characters have specific meanings in programming languages. For example:
Quotes: Single (`'`) and double (`"`) quotes are used to denote the beginning and end of a string. If you want to include a quote character inside a string, you need a way to do so without confusing the interpreter about where the string starts or ends. Escape characters solve this problem.\
\
Some characters, like newlines (`\n`), tabs (`\t`) are non-printable and affect the formatting or structure of the output. Escape sequences allow you to include these characters in your strings to control how the text is displayed.\
\
Escape characters in Python are special characters preceded by a backslash (`\`) that have a specific meaning when used within a string. They allow you to include characters in a string that would otherwise be difficult or impossible to express.\
\
Some examples are:\
\
Newline (**`\n`**): Inserts a new line in the string.\
Tab (**`\t`**): Inserts a horizontal tab (indentation).\
Backslash (**`\\`**): Inserts a literal backslash.\
Single Quote (**`\'`**): Inserts a single quote.\
Double Quote (**`\"`**): Inserts a double quote.

In [48]:
# Using \n
string = "Line 1\nLine 2"
print(string)

Line 1
Line 2

In [2]:
# Using \t
text = "Hello\tWorld"
print(text)

Hello	World

In [3]:
# Using \\
path = "C:\\Users\\Alice"
print(path)

C:\Users\Alice

In [4]:
# Using \'
quote = 'It\'s a sunny day'
print(quote)

It's a sunny day

In [5]:
# Using \"
quote = "He said, \"Hello!\""
print(quote)

He said, "Hello!"

### **Raw string**

Raw string tells Python to treat characters like \n, \t, etc. as literal characters rather than escape characters.\
\
Raw strings are particularly useful for file paths on Windows, where backslashes are used as directory separators. Using raw strings avoids the need to escape each backslash.

In [7]:
# Raw string to ignore escape sequences
file_path = r"C:\Users\Alice\Documents\file.txt"
print(file_path)

C:\Users\Alice\Documents\file.txt

### **Unicode Strings and Encoding**
Unicode provides a universal standard for character representation, enabling support for global languages and symbols.\
\
Proper encoding and decoding are essential for correct data handling, especially when dealing with files, network data, or integrating systems that may use different encodings.

In [50]:
# UTF-8 Encoding
encoded_string = "Python is fun ðŸ˜Š".encode('utf-8')
print(encoded_string)

b'Python is fun \xf0\x9f\x98\x8a'

In [51]:
# Decoding back to string
decoded_string = encoded_string.decode('utf-8')
print(decoded_string)

Python is fun ðŸ˜Š