# **Python Lists: A Comprehensive Guide**
Introduction\
\
**What is a list?**\
\
A list is a collection of items stored in a single variable.\
It is ordered, changeable, and allows duplicate members.\
It is one of the most versatile data structures in Python.\
\
**Why use lists?**\
\
Store multiple values in a single variable.\
Access and manipulate elements easily.\
Perform various operations efficiently.

### **1. Creating Lists**
Basic syntax: **`my_list = [item1, item2, item3]`**

In [2]:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed_list = ["hello", 23, True, [1, 2, 3]]

### **2. Accessing List Elements**

**Indexing**

In [1]:
# Access elements by their position (index starts from 0).\
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

In [3]:
print(fruits[-1])

cherry

**Slicing**

In [4]:
# Access a range of elements.
print(fruits[1:3])

['banana', 'cherry']

In [30]:
# Using step size
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers[::2])

[0, 2, 4, 6, 8]

In [31]:
# reversing slices
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### **3. Lists Methods**

**Changing element**

In [5]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "orange"
print(fruits)

['orange', 'banana', 'cherry']

**Adding elements**\
\
**`append()`** adds an element to the end.\
**`insert()`** adds an element at a specific position.\
**`extend(iterable)`**: Appends the elements from an iterable to the end of the list.

In [17]:
fruits = ["apple", "banana", "cherry"]
fruits.append("grape")
print(fruits)

['apple', 'banana', 'cherry', 'grape']

In [18]:
fruits.insert(1, "kiwi")
print(fruits)

['apple', 'kiwi', 'banana', 'cherry', 'grape']

In [19]:
list1 = [1, 2]
list2 = [3, 4, 5]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]

**Removing elements**\
\
**`remove()`** removes the first occurrence of a specified value.\
**`pop()`** removes and returns the element at a specified index.\
**`del`** deletes the element at a specified index.\
**`clear()`**: Removes all items from the list.

In [13]:
colors = ['red', 'green', 'blue', 'red']
colors.remove('red')
print(colors)  # Output: ['green', 'blue', 'red']

['green', 'blue', 'red']

In [14]:
numbers = [1, 2, 3, 4]
removed_item = numbers.pop(2)
print(numbers)  # Output: [1, 2, 4]
print(removed_item)  # Output: 3

[1, 2, 4]
3

In [16]:
numbers = [1, 2, 3, 4]
del(numbers[0])
print(numbers)  # Output: [2, 3, 4]

[2, 3, 4]

In [12]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)

[]

**Finding Elements**\
**`index(item)`**: Returns the index of the first occurrence of an item.\
**`count(item)`**: Returns the number of occurrences of an item.

In [20]:
fruits = ['apple', 'banana', 'cherry']
index = fruits.index('banana')
print(index)  # Output: 1

1

In [21]:
numbers = [1, 2, 2, 3, 1]
count = numbers.count(2)
print(count)  # Output: 2

2

**Sorting and Reversing**\
**`sort()`**: Sorts the list in ascending order.\
**`reverse()`**: Reverses the order of the list.

In [23]:
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)  # Output: [1, 1, 3, 4, 5, 9]

[1, 1, 3, 4, 5, 9]

In [22]:
letters = ['a', 'b', 'c']
letters.reverse()
print(letters)  # Output: ['c', 'b', 'a']

['c', 'b', 'a']

**`sort(key=)`** : The **`sort()`** method sorts a list in place. \
The key argument specifies a function that is used to extract a comparison key from each element.

In [35]:
numbers = [3, 1, 4, 1, 5, 9]

# Sort in ascending order
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5, 9]

In [36]:
# Sort in descending order
numbers.sort(reverse=True)
print(numbers)  # Output: [9, 5, 4, 3, 1, 1]

[9, 5, 4, 3, 1, 1]

In [37]:
# Sort a list of tuples by the second element
students = [('Alice', 95), ('Bob', 88), ('Charlie', 92)]
students.sort(key=lambda x: x[1])
print(students)

[('Bob', 88), ('Charlie', 92), ('Alice', 95)]

**Other useful methods**\
**`copy()`**: Returns a shallow copy of the list.

In [24]:
list1 = [1, 2, 3]
list2 = list1.copy()
print(list2)  # Output: [1, 2, 3]

[1, 2, 3]

### **4. List Unpacking**
List unpacking allows you to assign elements from a list to multiple variables in a single line.

In [25]:
# Basic Unpacking
my_list = [1, 2, 3]
a, b, c = my_list
print(a, b, c)  # Output: 1 2 3

1 2 3

In [26]:
# Unpacking with *
my_list = [1, 2, 3, 4, 5]
a, b, *rest = my_list
print(a, b)  # Output: 1 2
print(rest)  # Output: [3, 4, 5]

1 2
[3, 4, 5]

In [27]:
# Ignoring Elements
my_list = [1, 2, 3, 4, 5]
a, _, c, *rest = my_list
print(a, c)  # Output: 1 3
print(rest)  # Output: [4, 5]

1 3
[4, 5]

In [28]:
# Unpacking Nested Lists
my_list = [1, [2, 3], 4]
a, (b, c), d = my_list
print(a, b, c, d)  # Output: 1 2 3 4

1 2 3 4

### **4. List Length and Membership**

**`len()`** function: Returns the number of elements in the list.

In [8]:
fruits = ['apple', 'kiwi', 'banana', 'cherry', 'grape']
print(len(fruits))

5

**`in`** and **`not in`** operators: Check if an element is present in the list.

In [9]:
if "apple" in fruits:
    print("Apple is present")
else:
    print("Apple is not present")

Apple is present

### **5. List Operations**

**Concatenation**: Combine two lists using the `+` operator.

In [10]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

**Repetition**: Repeat a list using the * operator.

In [11]:
repeated_list = [0] * 5
print(repeated_list)

[0, 0, 0, 0, 0]

### **6. List Comprehension**
List comprehensions are often more concise and potentially faster than traditional loops. However, for complex logic, loops might be more readable.

In [32]:
# Conditional logic in list comprehensions
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)  # Output: [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [33]:
# Nested list comprehensions
matrix = [[j for j in range(3)] for i in range(2)]
print(matrix)  # Output: [[0, 1, 2], [0, 1, 2]]

[[0, 1, 2], [0, 1, 2]]

**Other Important Methods**

The **`enumerate()`** function returns an enumerate object. \
This object can be used to iterate over a sequence while keeping track of the index of each element.

In [34]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

The **`map()`** function applies a given function to each item of an iterable and returns an iterator of the results.

In [38]:
numbers = [1, 2, 3, 4]
squared = map(lambda x: x**2, numbers)
print(list(squared))  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

The **`filter()`** function constructs an iterator from those elements of an iterable for which a function returns True.

In [39]:
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4]

[2, 4]

The **`reduce()`** function applies a function of two arguments cumulatively to the items of an iterable, from left to right, so as to reduce the iterable to a single value.

In [40]:
from functools import reduce

numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 24

24