# **Python Tuples: An In-Depth Guide**
Introduction to Tuples\
**What is a tuple?**

A tuple is an ordered, immutable collection of elements.\
It is similar to a list but cannot be modified after creation.

**Why use tuples?**

To protect data from accidental modification.\
To use as keys in dictionaries (since they are hashable).\
To return multiple values from functions.

### **1. Creating Tuples**

In [1]:
# Using parentheses
my_tuple = (1, 2, 3, 'apple', 'banana')

In [2]:
# Without parentheses (tuple packing)
my_tuple = 1, 2, 3, 'apple', 'banana'

In [3]:
# Empty tuple
empty_tuple = ()

### **2. Accessing Tuple Elements**

**Indexing**

In [4]:
print(my_tuple[0])  # Output: 1

1

**Slicing**

In [5]:
print(my_tuple[1:3])  # Output: (2, 3)

(2, 3)

**Immutability of Tuples**

Tuples cannot be changed after creation.\
Attempting to modify a tuple will raise a TypeError.

In [6]:
my_tuple[0] = 10  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

**Tuple Methods**

**`count(item)`**: Returns the number of occurrences of an item.
**`index(item)`**: Returns the index of the first occurrence of an item.

### **3. Tuple Operations**

**Concatenation**

In [7]:
tuple1 = (1, 2)
tuple2 = (3, 4)
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

**Repetition**

In [8]:
repeated_tuple = (0,) * 5
print(repeated_tuple)  # Output: (0, 0, 0, 0, 0)

(0, 0, 0, 0, 0)

**Membership testing**

In [9]:
my_tuple = (1, 2, 3, 'apple', 'banana')
if 'apple' in my_tuple:
    print('apple is present')

apple is present

### **4. Tuple Unpacking**
Assigning elements of a tuple to multiple variables

In [10]:
x, y, z = (10, 20, 30)
print(x, y, z)  # Output: 10 20 30

10 20 30

**Tuples as Keys in Dictionaries**

Tuples can be used as keys in dictionaries because they are hashable.

In [11]:
my_dict = {(1, 2): 'value'}

### **5. Tuple Comparison**
Tuples in Python can be compared using comparison operators like ==, !=, <, >, <=, and >=. The comparison is performed lexicographically, meaning element-wise from left to right.\
\
**How Tuple Comparison Works**
1. Comparison starts with the first elements: If the first elements of two 2. tuples are different, the comparison result is based on the comparison of these elements.
2. If the first elements are equal: The comparison moves to the second elements, and so on.
3. If one tuple runs out of elements before the other: The shorter tuple is considered less than the longer one.
**Note**
1. Tuples must have the same data type for comparison.
2. Comparison is case-sensitive for strings.
3. Tuples can be compared with lists, but the comparison is based on the elements, not the data structures.

In [12]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
tuple3 = (1, 2)

print(tuple1 == tuple2)  # False
print(tuple1 < tuple2)  # True
print(tuple1 > tuple3)  # True

False
True
True

**Sorting tuples**

In [13]:
my_tuples = [(3, 'apple'), (1, 'banana'), (2, 'orange')]
sorted_tuples = sorted(my_tuples)
print(sorted_tuples)  # Output: [(1, 'banana'), (2, 'orange'), (3, 'apple')]

[(1, 'banana'), (2, 'orange'), (3, 'apple')]

**Comparing tuples in conditional statements**

In [14]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
if tuple1 < tuple2:
    print("tuple1 is less than tuple2")

tuple1 is less than tuple2