**Functions** in Python are reusable blocks of code designed to perform a specific task. They are a fundamental concept in programming that allows you to organize your code, make it more readable, and avoid repetition.

Functions form the building blocks of modular programming in Python, allowing you to break down complex problems into smaller, manageable pieces of code.

**Definition**:
A function is a named sequence of statements that performs a specific operation. It can take input (parameters), process it, and return a result.

**Key components**:

1. `def` keyword: Defines the function
2. `function_name`: A descriptive name for the function
3. `parameters`: Input values (optional)
4. function body: The code to be executed
5. return statement: Specifies the output (optional)

**Benefits of using functions**:

1. Code reusability
2. Improved organization and readability
3. Easier debugging and maintenance
4. Abstraction of complex operations

**Types of functions**:

1. Built-in functions (e.g., print(), len())
2. User-defined functions
3. Anonymous functions (lambda functions)

In [3]:
# Example
def greet(name):
    return f"Hello, {name}!"

In [4]:
# Calling the function
message = greet("Alice")
print(message)  # Output: Hello, Alice!

Hello, Alice!

### **Built-in functions**

These are functions that are pre-defined in Python and are always available for use without needing to import any module.

Syntax : `function_name(argument1, argument2, ...)`

Here's an overview of some important built-in functions:

1. **Input/Output**:

print(): Outputs to the console\
input(): Reads a line from input


2. **Type Conversion**:

int(), float(), str(), bool(): Convert between types\
list(), tuple(), set(), dict(): Convert to respective data structures


3. **Numeric Functions**:

abs(): Absolute value\
round(): Round a number\
max(), min(): Maximum and minimum values\
sum(): Sum of an iterable


4. **Sequence Functions**:

len(): Length of an object\
range(): Generate a sequence of numbers\
enumerate(): Return an enumerate object


5. **String Functions**:

chr(): Integer to Unicode character\
ord(): Unicode character to integer


6. **Inspection**:

type(): Get the type of an object\
isinstance(): Check if an object is an instance of a class\
dir(): List of valid attributes of an object


7. **Iteration and Generation**:

iter(): Return an iterator object\
next(): Retrieve the next item from an iterator\
zip(): Create an iterator of tuples


8. **Complex Data Handling**:

sorted(): Return a new sorted list\
reversed(): Return a reverse iterator\
filter(): Construct an iterator from elements which are true\
map(): Apply a function to every item of an iterable


9. **Object Creation and Manipulation**:

object(): Return a new featureless object\
property(): Return a property attribute\
setattr(), getattr(), hasattr(): Set/get/check for object attributes


10. **Math Functions**:

pow(): Raise a number to a power\
divmod(): Quotient and remainder of division

In [5]:
# Type conversion
x = int("5")
y = float("3.14")
z = str(42)

In [6]:
# Numeric functions
print(abs(-7))  # Output: 7
print(round(3.7))  # Output: 4

7
4

In [7]:
# Sequence functions
my_list = [1, 2, 3, 4, 5]
print(len(my_list))  # Output: 5
print(list(range(5)))  # Output: [0, 1, 2, 3, 4]

5
[0, 1, 2, 3, 4]

In [8]:
# Inspection
print(type(my_list))  # Output: <class 'list'>
print(isinstance(my_list, list))  # Output: True

<class 'list'>
True

In [9]:
# Complex data handling
print(sorted([3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]))  # Output: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]
print(list(filter(lambda x: x > 5, [1, 6, 3, 8, 2, 9])))  # Output: [6, 8, 9]

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]
[6, 8, 9]

### **User-defined functions**

User-defined functions are functions created by the programmer to perform specific tasks. They allow you to organize your code, improve reusability, and break down complex problems into smaller, manageable parts.

Key aspects of user-defined functions:

1. **Definition syntax**:
```
def function_name(parameters):
    """Docstring explaining the function"""
    # Function body
    return result  # Optional
```
2. **Parameters and Arguments**:

Parameters are variables listed in the function definition.\
Arguments are the values passed to the function when it's called.


3. **Return statement**:

Used to send a result back to the caller.\
If omitted, the function returns None by default.


4. **Function call**:

Use the function name followed by parentheses containing arguments.


5. **Scope**:

Variables defined inside a function have local scope.\
Use global keyword to modify global variables within a function.

In [10]:
# Simple function without parameters
def greet():
    print("Hello, World!")

greet()  # Output: Hello, World!

Hello, World!

In [11]:
# Function with parameters
def greet_person(name):
    print(f"Hello, {name}!")

greet_person("Alice")  # Output: Hello, Alice!

Hello, Alice!

In [12]:
# Function with return value
def square(number):
    return number ** 2

result = square(5)
print(result)  # Output: 25

25

In [13]:
# Function with multiple parameters and default values
def power(base, exponent=2):
    return base ** exponent

print(power(3))    # Output: 9 (uses default exponent)
print(power(2, 3)) # Output: 8

9
8

In [14]:
# Function with variable number of arguments
def sum_all(*args):
    return sum(args)

print(sum_all(1, 2, 3))    # Output: 6
print(sum_all(1, 2, 3, 4)) # Output: 10

6
10

In [15]:
# Function with docstring
def celsius_to_fahrenheit(celsius):
    """
    Convert Celsius to Fahrenheit.

    Parameters:
    celsius (float): Temperature in Celsius

    Returns:
    float: Temperature in Fahrenheit
    """
    return (celsius * 9/5) + 32

print(celsius_to_fahrenheit(0))  # Output: 32.0

32.0

In [16]:
# Recursive function
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))  # Output: 120

120

### **Anonymous functions (lambda functions)**

Lambda functions, also known as anonymous functions, are small, single-expression functions that don't require a formal definition using the '`def`' keyword. They are created using the '`lambda`' keyword.

Key characteristics of Lambda functions:

1. **Syntax**: `lambda arguments: expression`

2. Can take any number of arguments but can only have one expression.

3. Implicitly return the result of the expression.

4. Often used for short operations that are needed only once.

5. Commonly used with higher-order functions like map(), filter(), and reduce().

In [17]:
# Basic lambda function
square = lambda x: x**2
print(square(5))  # Output: 25

25

In [18]:
# Lambda with multiple arguments
sum = lambda a, b: a + b
print(sum(3, 4))  # Output: 7

7

In [19]:
# Using lambda with map()
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [20]:
# Using lambda with filter()
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [21]:
# Using lambda with sorted()
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
sorted_pairs = sorted(pairs, key=lambda pair: pair[1])
print(sorted_pairs)  # Output: [(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [22]:
# Lambda in list comprehension
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [y for x in matrix for y in x]
print(flattened)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
# Lambda with reduce() (from functools)
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120

120