In [1]:
# 1. Assignment statement
x = 5
y, z = 10, 15

In [2]:
# 2. Expression statement
print("Hello, world!")
len([1, 2, 3])  # Result is discarded

Hello, world!

3

In [3]:
# 3. Conditional statements
age = 20
if age >= 18:
    print("Adult")
elif age >= 13:
    print("Teenager")
else:
    print("Child")

Adult

In [4]:
# 4. Loop statements
# For loop
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
# While loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [7]:
# 6. Import statements
import math
from datetime import datetime

In [8]:
# 7. Exception handling statements
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero")
finally:
    print("This always executes")

Cannot divide by zero
This always executes

In [9]:
# 8. With statement
with open("example.txt", "w") as file:
    file.write("Hello, World!")

In [10]:
# 9. Pass statement
class EmptyClass:
    pass

In [11]:
# 10. Assert statement
x = 10
assert x > 0, "x should be positive"

In [13]:
# 11. Return, yield, and break statements
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

for num in fibonacci(10):
    if num > 50:
        break
    print(num)

0
1
1
2
3
5
8
13
21
34

In [15]:
# 13. List comprehension (expression)
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]